<h1 class="display-1">{{data.titulo}}</h1>
<h2 class="display-2">{{data.subTitulo}}</h2>

<div class="container" id="cuadro-cotizaciones">
    <div class="row">
        <div class="col divisa dolar">
            <h3 class="display-3">Dolar Oficial</h3>
            <div class="row">
                <div class="col dolar-oficial">Compra:</div>
                <div class="col dolar-oficial">Venta:</div>
                <div class="col dolar-oficial">Promedio:</div>
            </div>

        </div>

        <div class="col divisa dolar">
            <h3 class="display-3">Dolar Blue</h3>
            <div class="row">
                <div class="col dolar-blue">Compra:</div>
                <div class="col dolar-blue">Venta:</div>
                <div class="col dolar-blue">Promedio:</div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col divisa euro">
            <h3 class="display-3">Euro Oficial</h3>
            <div class="row">
                <div class="col euro-oficial">Compra:</div>
                <div class="col euro-oficial">Venta:</div>
                <div class="col euro-oficial">Promedio:</div>
            </div>

        </div>

        <div class="col divisa euro">
            <h3 class="display-3">Euro Blue</h3>
            <div class="row">
                <div class="col euro-blue">Compra:</div>
                <div class="col euro-blue">Venta:</div>
                <div class="col euro-blue">Promedio:</div>
            </div>

        </div>
    </div>

    <div class="row">

    </div>
</div>