<div class="container" id="cuadro-cotizaciones">

    <div class="container contenedor-titulos">
        <div class="row">
           
            <div class="col">

                <h1 class="display-1">{{data.titulo}}</h1>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <h5 class="display-5">{{data.subTitulo}}</h5>
            </div>
        </div>
    </div>


    <div class="container" id="calculadora">

        <div class="row seccion-fecha">
            <div class="col fecha" id="fecha">
                Fecha Cotizacion:
            </div>
            <div class="col-3"> <img class="logo" src="/imagenes/github-logo.svg" alt=""><a href="https://github.com/sergioatk/arbolito-argentino">Github Repo</a> </div>
            <div class="col"></div>
        </div>


        <div class="row">
            <div class="col divisa dolar">
                <div class="container titulo-dolar">
                    <h3 class="display-3">Dolar Oficial</h3>
                </div>

                <div class="row">

                    <div class="col-12 dolar-oficial cuadro-moneda">Compra: </div>
                    <div class="col-12 dolar-oficial cuadro-moneda">Venta: </div>
                    <div class="col-12 dolar-oficial cuadro-moneda">Promedio: </div>
                </div>

            </div>

            <div class="col divisa dolar">
                <div class="container titulo-dolar">
                    <h3 class="display-3">Dolar Blue</h3>
                </div>

                <div class="row">
                    <div class="col-12 dolar-blue cuadro-moneda">Compra: </div>
                    <div class="col-12 dolar-blue cuadro-moneda">Venta: </div>
                    <div class="col-12 dolar-blue cuadro-moneda">Promedio: </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col divisa euro">

                <div class="container titulo-euro">
                    <h3 class="display-3">Euro Oficial</h3>
                </div>

                <div class="row">
                    <div class="col-12 euro-oficial cuadro-moneda">Compra: </div>
                    <div class="col-12 euro-oficial cuadro-moneda">Venta: </div>
                    <div class="col-12 euro-oficial cuadro-moneda">Promedio: </div>
                </div>

            </div>

            <div class="col divisa euro">

                <div class="container titulo-euro">
                    <h3 class="display-3">Euro Blue</h3>
                </div>

                <div class="row">
                    <div class="col-12 euro-blue cuadro-moneda">Compra: </div>
                    <div class="col-12 euro-blue cuadro-moneda">Venta: </div>
                    <div class="col-12 euro-blue cuadro-moneda">Promedio: </div>
                </div>

            </div>
        </div>

        <div class="row">

        </div>
    </div>
</div>